<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngFor="let data of userDetails">

    <ion-card class="text-center">
      <ion-card-header>
        <ion-icon name="person-sharp" size="large"></ion-icon>
        <h1>{{data.firstname}} {{data.lastname}}</h1>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="mail"></ion-icon> {{data.email}} <br>
        <ion-icon name="call"></ion-icon> {{data.cell_no}}
      </ion-card-content>
      <ion-button shape="round" fill="outline">Edit Profile</ion-button>
    </ion-card>

  </div>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/bookanimal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
