<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-button size="small" slot="end" (click)="logOut()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngFor="let data of userDetails" class="profile-content">

    <ion-card class="text-center" style="color: white;">
      <ion-card-header>
        <ion-icon name="person-sharp" size="large"></ion-icon>
        <h1>{{data.firstname}} {{data.lastname}}</h1>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="mail"></ion-icon> {{data.email}} <br>
        <ion-icon name="call"></ion-icon> {{data.cell_no}}
      </ion-card-content>
      <ion-button color="dark">Edit</ion-button>
    </ion-card>

  </div>
  <div>
    <ion-card style="color: white;">
      <ion-card-header>
       <h2>Appointments</h2> 
      </ion-card-header>
      
      <ion-card-content>
       <table>
          <tr>
            <th>Doctor</th>
            
            <th>Date</th>
            <th>Pet</th>
            <th>Time</th>
            <th>Option</th>
          </tr>
          <tr *ngFor="let appointment of userAppointments">
            <td>{{appointment.dr_name}}</td>
            
            <td>
              {{appointment.appoint_date | date: 'mediumDate'}}
            </td>
            <td>{{appointment.pet_name}}</td>
            <td>{{appointment.time_slot}}</td>
            <td><ion-icon name="close-circle-outline" (click)="cancelAppointment(appointment.id)"></ion-icon></td>
          </tr>
       </table>
      </ion-card-content>
    </ion-card>
  

  </div>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/bookanimal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
