<ion-content class="card-background-page">

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="4" *ngFor="let list of drlist">
        <ion-card>
          <img src="{{list.picture}}" routerLink="/doctor-profile/{{list.id}}">
          <ion-card-content>
            <ion-card-title>{{list.dr_name}}</ion-card-title>
          </ion-card-content>
          <ion-text>
            <h3>{{list.occupation}}</h3>
          </ion-text>
          <ion-text>
            <h3>{{list.experience}} Years Of Experience</h3>
          </ion-text>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


