<ion-app>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="hide()==true">
      <ion-button  (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-title class="homeFont" size="medium" [routerLink]="['/home']">Vet App</ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <div>
        <ion-menu-button class="burger" autoHide="false"></ion-menu-button>
      </div>
    </ion-buttons>

    <!-- <ion-buttons *ngIf="hide()==true">
      <ion-searchbar></ion-searchbar>
    </ion-buttons> -->

  </ion-toolbar>


  <ion-menu side="end" menuId="first" contentId="main" >
    <!-- <ion-header>
      <ion-buttons>
        <ion-searchbar animated></ion-searchbar>
      </ion-buttons>
    </ion-header> -->
    <ion-content class="menu">
      <ion-list>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/login']" *ngIf="isLoggedInUser()==false && isLoggedInDoctor()==false && isLoggedInAdmin()==false">
            <ion-icon name="log-in-outline"></ion-icon> <strong>Login</strong>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/login']" *ngIf="isLoggedInUser()==true || isLoggedInDoctor()==true || isLoggedInAdmin()==true" (click)="logout()">
            <ion-icon name="log-in-outline"></ion-icon> <strong>Logout</strong>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/register']" *ngIf="isLoggedInUser()==false || isLoggedInDoctor()==false || isLoggedInAdmin()==false">
            <ion-icon name="person-add-outline"></ion-icon> <strong>Sign Up</strong>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/profile']" *ngIf="isLoggedInUser()==true">
            <ion-icon name="person-outline"></ion-icon> <strong>Profile</strong>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>


