
#container {
  // background-color: rgb(108, 170, 211);
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  
}

ion-button{
  font-weight: bold;
  
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  gap: 0.3rem;
  margin: 0;
  
}

#container a {
  text-decoration: none;
  
}
h1{
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    color: #222d3b;
}

span{
  background: -webkit-linear-gradient(rgb(116, 115, 115), rgb(31, 33, 41));
  background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
img
{
 height: 300px;
 width: 300px;

}

.bgcontent{
  --background: #f3f3f3;
}

.buttoncolor{
  color: #63c3fe;
}