

<!-- <ion-header no-border>
<ion-row>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="/assets/charles-deluvio-Mv9hjnEUHR4-unsplash.jpeg">
      </div>
    </ion-row>
    <ion-row>
      <ion-col col-4 text-left>
        <ion-icon name="ios-contact-outline">
        </ion-icon>
      </ion-col>
      <ion-col col-4 text-left>

        <ion-label class="drname">{{item.dr_name}}</ion-label>
        <ion-label>Digoro</ion-label>
      </ion-col>
    </ion-row>
 
</ion-header>


<ion-content>
  <ion-card class="custom-card">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <h2>Experience </h2>
        </ion-item>
        <ion-item>
          <p>
          {{doctorProfile.experience}} years working as a veterinarian.
          </p>
       
        
        </ion-item>
    
    
        <ion-item>
          <h2>Occupation</h2>
        </ion-item>
        <ion-item>
          <p> The veterinarian is an expert in {{doctorProfile.occupation}} </p>
        
        </ion-item>
     
        <ion-item>
          <h2>Available Dates & Hours</h2>
        </ion-item>
        <ion-item>
          <p>{{doctorProfile.date}} {{doctorProfile.available}}</p>
        </ion-item>
        
        </ion-list> -->
    <!-- </ion-card-content> -->
 
    <ion-content class="card-background-page" [scrollEvents]="true">

      

      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="4" *ngFor="let item of drInfo">
           
            <ion-card class="docprofile">
            
              <img src="{{item.picture}}" >
              <ion-card-content class="cardcontentcolor">
                <ion-title class="cardcontentcolor" >{{item.dr_name}}</ion-title><ion-icon class="iconposition"name="medkit-outline"></ion-icon>
              </ion-card-content>
              <ion-list>
                <ion-item class="doccolor">
                  <ion-icon class="iconxp"name="timer-outline"></ion-icon>  <h2>Experience </h2>
                </ion-item>
                <ion-item class="doccolor">
                 
                  {{item.experience}} years.
                 
                </ion-item >

                <ion-item class="doccolor">
                  <ion-icon class="briefcase"name="briefcase-outline"></ion-icon><h2>Occupation</h2>
                </ion-item>
                <ion-item class="doccolor">
               {{item.occupation}}. 
                
                </ion-item>
             
                <ion-item class="doccolor">
                  <ion-icon class="calendar"name="calendar-outline"></ion-icon> <h2>Available Dates & Hours</h2>
                </ion-item>
                <div *ngIf="availAppointments == null">
                  not found
                </div>
                <div *ngFor="let dr of availAppointments">
                  <ion-item class="appointmentsbg">
                    {{dr.appoint_date | date: 'short'}} {{dr.time_slot}}
                  
               
                    <ion-button color="dark" (click)="bookAppointment(dr.id)" class="bookAppointmentbtn">Book</ion-button>
                  </ion-item>
                </div>
                
                

                </ion-list>
            
            
          </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    
     
    </ion-content>
  
