ion-content{
    background-color: white;
}

.p-s1{
    .drname {
      font-size: 2.5rem;
    }
    color: #555252;
    ion-icon{
      font-size: 13rem;
    }
  
  }
  ion-header{
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.10);
  }
  
  .custom-card{
    box-shadow:  rgb(108, 170, 211);
    background: rgb(108, 170, 211);
    height: 75vh;
    width: 100%;
    max-width: 500px;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    
    
  }
  .p-list{
    color:hsl(0, 0%, 29%);
  }

  .card-background-page{
   --background: #f3f3f3;
 }

 .docprofile{
  --background: #222d3b;

 }

 .doccolor{
   --background: #222d3b;
 }

h2{
  --background: #63c3fe;
}

.cardcontentcolor{
  color: #f3f3f3;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  
  
}
.iconposition{
  
  padding-left: 185px;
  padding-top: 5px;
}

.briefcase{
  padding-top: 5px;
  color:#74ecb9;
  
  
}

.calendar{
  padding-top: 5px;
  color:#74ecb9;
}

.iconxp{
  padding-top: 5px;
  color:#74ecb9;
}