
<ion-content [scrollEvents]="true">

<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="Login-section ion-padding">
      <div class="heading ion-padding">
        <h1> Create an account!</h1>
        <p> Let your pet have a better life with us</p>
      </div>
    
    <div class="Login-form ion-padding">
      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">FIRST NAME</ion-label>
          <ion-input type="text" formControlName="firstname" id="firstname" required></ion-input>
        </ion-item>
        <div *ngIf="Form['firstname'].touched && Form['firstname'].invalid" class="alert alert-danger">
          <div *ngIf="Form['firstname'].errors && Form['firstname'].errors['required']">Firstname is required.</div>
          <div *ngIf="Form['firstname'].errors && Form['firstname'].errors['firstname']">Please, enter valid firstname.</div>
        </div>
      </div>

      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">LAST NAME</ion-label>
          <ion-input type="text" formControlName="lastname" id="lastname" required></ion-input>
        </ion-item>
        <div *ngIf="Form['lastname'].touched && Form['lastname'].invalid" class="alert alert-danger">
          <div *ngIf="Form['lastname'].errors && Form['lastname'].errors['required']">lastname is required.</div>
          <div *ngIf="Form['lastname'].errors && Form['lastname'].errors['lastname']">Please, enter valid lastname.</div>
        </div>
      </div>

      <div class="form-input">
        <ion-icon name="call-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">CELL NUMBER</ion-label>
          <ion-input type="text" formControlName="cell_no" id="cell_no" required></ion-input>
        </ion-item>
        <div *ngIf="Form['cell_no'].touched && Form['cell_no'].invalid" class="alert alert-danger">
          <div *ngIf="Form['cell_no'].errors && Form['cell_no'].errors['required']">cellphone number is required.</div>
          <div *ngIf="Form['cell_no'].errors && Form['cell_no'].errors['cell_no']">Please, enter valid cellpohone number.</div>
        </div>
      </div>

      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">EMAIL</ion-label>
          <ion-input type="email" formControlName="email" id="email" required></ion-input>
        </ion-item>
        <div *ngIf="Form['email'].touched && Form['email'].invalid" class="alert alert-danger">
          <div *ngIf="Form['email'].errors && Form['email'].errors['required']">email is required.</div>
          <div *ngIf="Form['email'].errors && Form['email'].errors['email']">Please, enter valid email address.</div>
        </div>
      </div>
    
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">PASSWORD</ion-label>
          <ion-input type="password" formControlName="password" id="password" required></ion-input>
        </ion-item>
        <div *ngIf="Form['password'].touched && Form['password'].invalid" class="alert alert-danger">
          <div *ngIf="Form['password'].errors && Form['password'].errors['required']">email is required.</div>
          <div *ngIf="Form['password'].errors && Form['password'].errors['password']">Please, enter valid email.</div>
        </div>
      </div>
    </div>
    
    
    <div class="action-buttons ion-padding">
      <ion-button [disabled]="registerForm.invalid" size="large" class="login-button" routerLink="/register" type="submit">Sign up</ion-button>
      <!-- <p>Forgot password?</p> -->
      <ion-button class="login-button" size="large" fill="outline" routerLink="/login">Log in
    
      </ion-button>
    
    </div>
    
    </div>
  </form>
</ion-content>