:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

item.images{
  padding-bottom: 100px;
}

ion-card-title{
  text-align: center;
}


.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(0deg, #74ecb9, #f3f3f3);
    
    border-radius: 18px;
   
  }

   
  ion-title {
    position: relative;;
    top: 36%;
    font-size: 1.30em;
    font-weight: bold;
    font-family: sans-serif;
    width: 100%;
    font-weight: bold;
    color: #222d3b;
    // text-shadow: 1px 1px 2px #000000;
  }
  img{
    filter: blur(1px);
   -webkit-filter: blur(1px);
   
  }
}

ion-card, ion-item{
  background-color: white;
}

ion-label{
  font-weight: bold;

}

.bookForm{
  padding: 5px;
  max-width: 400px;
}

ion-searchbar
{

  margin-top: 2rem;
  color: black;

  
}


ion-content {
  --background: #f3f3f3;
}

ion-card-subtitle{
  text-align: center;
  color: #63c3fe;
  font-family: sans-serif;
}

h1{
  font-family:sans-serif;
  font-size: large;
  font-size: 1.3rem;
  color: #222d3b;
}

.petname{
  text-transform: uppercase;
  
}
.para
{
  color:black;
   display: flex; 
   width: 100%;
  justify-content: center; 
}

