

<ion-text color="#ffff">
  <h1>What type of animal needs our help?</h1>
</ion-text>


<ion-content [scrollEvents]="true">


  <ion-grid>
    
    <ion-row>
      <ion-col>
        <div><ion-card>
          <ion-card-content class="card-img-top img-fluid">
            <div class="card h-100">
           <img src="/assets/cat.jpeg"/>
           
          
           </div>
          </ion-card-content>
        </ion-card>
        
      </div>
      </ion-col>


      <ion-col>
        <div><ion-card>
          <ion-card-content>
           <img src="/assets/dog.jpeg"/>
          </ion-card-content>
        </ion-card>
      </div>
      </ion-col>
    </ion-row>
      
    <ion-grid>
    
      <ion-row>
        <ion-col>
          <div><ion-card>
            <ion-card-content>
              <img src="/assets/bird.jpeg"/>
            
            </ion-card-content>
          </ion-card>
        </div>
        </ion-col>
  
  
        <ion-col>
          <div><ion-card>
            <ion-card-content>
             <img src="/assets/farm.jpeg"/>
            </ion-card-content>
          </ion-card>
        </div>
        </ion-col>
      </ion-row>
        
      
      <ion-grid>
    
        <ion-row>
          <ion-col>
            <div><ion-card>
              <ion-card-content>
                <img src="/assets/small mammal.jpeg"/>
              </ion-card-content>
            </ion-card>
          </div>
          </ion-col>
    
    
          <ion-col>
            <div><ion-card>
              <ion-card-content>
                <img src="/assets/horse.jpeg"/>
              </ion-card-content>
            </ion-card>
          </div>
          </ion-col>
        </ion-row>
          
      
        <ion-grid>
    
          <ion-row>
            <ion-col>
              <div><ion-card>
                <ion-card-content>
                  <img src="/assets/fish.jpeg"/>
                </ion-card-content>
              </ion-card>
            </div>
            </ion-col>
      
      
            <ion-col>
              <div><ion-card>
                <ion-card-content>
                  <img src="/assets/reptile.jpeg"/>
                </ion-card-content>
              </ion-card>
            </div>
            </ion-col>
          </ion-row>
            
        </ion-grid>
      