<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="4">
        <div>
            <ion-card>
              <img src="/assets/pexels-tima-miroshnichenko-6234608.jpg"/>
              <div class="card-title">Users</div>
              <div class="card-subtitle">41 Listings</div>
            </ion-card>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <div><ion-card size="auto">
          <img src="/assets/pexels-mikhail-nilov-7470752.jpg"/>
          <div class="card-title">Doctors</div>
          <div class="card-subtitle">64 Listings</div>
        </ion-card></div>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <div><ion-card>
          <img src="/assets/pexels-pixabay-40568.jpg"/>
          <div class="card-title">Appointments</div>
          <div class="card-subtitle">72 Listings</div>
        </ion-card></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  

  

  

</ion-content>
