<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page" *ngIf="clientForm==false">
  <ion-text color="white">
    <h1 style="font-weight: bold; font-size: xx-large;">Admin</h1>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="4">
        <div>
            <ion-card>
              <img src="/assets/pexels-tima-miroshnichenko-6234608.jpg"/>
              <div class="card-title">Clients</div>
              <div class="card-subtitle">
                <ion-chip>
                  <ion-label color="white">{{numClients}}</ion-label>
                </ion-chip><br>
               
                <ion-button color="primary" (click)="openClientForm()">Add Client</ion-button>
              </div>
              
            </ion-card>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <div><ion-card size="auto">
          <img src="/assets/pexels-mikhail-nilov-7470752.jpg"/>
          <div class="card-title">Doctors</div>
          <div class="card-subtitle">
            <ion-chip>
              <ion-label color="white">{{numDoctors}}</ion-label>
            </ion-chip><br>
            <ion-button color="primary">Add Doctor</ion-button>
          </div>
        </ion-card></div>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <div><ion-card>
          <img src="/assets/pexels-pixabay-40568.jpg"/>
          <div class="card-title">Appointments</div>
          <div class="card-subtitle">
            <ion-chip>
              <ion-label>{{numAppointments}}</ion-label>
            </ion-chip>
          </div>
        </ion-card></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-accordion-group>
          <ion-accordion value="colors" toggle-icon="arrow-down-circle">
            <ion-item slot="header">
              <ion-label><ion-icon name="people-circle-outline"></ion-icon>Clients</ion-label>
            </ion-item>
        
            <ion-list slot="content">
              <div class="table" style="overflow-x: auto;">
                <ion-item>
                  <table width="100%" >
                    <tr>
                      <th>#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Cell Number</th>
                      <th>Actions</th>
                    </tr>
                    <tr *ngFor="let client of clients">
                      <td>{{client.id}}</td>
                      <td>{{client.firstname}}</td>
                      <td>{{client.lastname}}</td>
                      <td>{{client.email}}</td>
                      <td>{{client.cell_no}}</td>
                      <td>
                        <ion-icon name="trash-outline" (click)="removeClientById(client.id)"></ion-icon>&nbsp;
                        <ion-icon name="pencil-outline"></ion-icon>
                      </td>
                    </tr>
                  </table>
                </ion-item>
              </div>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
    
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-accordion-group>
          <ion-accordion value="colors" toggle-icon="arrow-down-circle">
            <ion-item slot="header">
              <ion-label><ion-icon name="people-circle-outline"></ion-icon>Doctors</ion-label>
            </ion-item>
        
            <ion-list slot="content">
              <div class="table" style="overflow-x: auto;">
                <ion-item>
                  <table width="100%">
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Occupation</th>
                      <th>Experience(years)</th>
                      <!-- <th>Last Name</th> -->
                      <th>Email</th>
                      <th>Cell Number</th>
                      <th>Branch</th>
                      <th>Actions</th>
                    </tr>
                    <tr *ngFor="let doctor of doctors">
                      <td>{{doctor.id}}</td>
                      <td>{{doctor.dr_name}}</td>
                      <td>{{doctor.occupation}}</td>
                      <td>{{doctor.experience}}</td>
                      <!-- <td>Bower</td> -->
                      <td>{{doctor.email}}</td>
                      <td>{{doctor.cell_no}}</td>
                      <td>{{doctor.company}}</td>
                      <td>
                        <ion-icon name="trash-outline" (click)="removeDoctorById(doctor.id)"></ion-icon>&nbsp;
                        <ion-icon name="pencil-outline"></ion-icon>
                      </td>
                    </tr>
                  </table>
                </ion-item>
              </div>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-accordion-group>
          <ion-accordion value="colors" toggle-icon="arrow-down-circle">
            <ion-item slot="header">
              <ion-label><ion-icon name="checkbox-outline"></ion-icon>&nbsp;Appointments</ion-label>
            </ion-item>
        
            <ion-list slot="content">
              <div class="table" style="overflow-x: auto;">
                <ion-item>
                  <table width="100%">
                    <tr>
                      <th>#</th>
                      <th>Doctor</th>
                      <th>Patient</th>
                      <th>Service</th>
                      <th>Service Fee</th>
                      <th>Actions</th>
                    </tr>
                    <tr *ngFor="let appointment of appointments">
                      <td>{{counter+1}}</td>
                      <td>{{appointment.dr_name}}</td>
                      <td>{{appointment.firstname}} {{appointment.lastname}}</td>
                      <td>{{appointment.pet_name}}</td>
                      <td>{{appointment.fee}}</td>
                      <td>
                        <ion-icon name="trash-outline" (click)="removeAppointment(appointment.id)"></ion-icon>&nbsp;
                        <ion-icon name="pencil-outline"></ion-icon>
                      </td>
                    </tr>
                  </table>
                </ion-item>
              </div>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
    
  </ion-grid>

  

  

</ion-content>

<ion-content *ngIf="clientForm">
  
  <ion-buttons slot="start">
    <ion-back-button defaultHref="admin"></ion-back-button>
  </ion-buttons>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="Login-section ion-padding">
        <div class="heading ion-padding">
          <h1>Add A User</h1>
        </div>
      
      <div class="Login-form ion-padding">
        <div class="form-input">
          <ion-icon name="person-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">FIRST NAME</ion-label>
            <ion-input type="text" formControlName="firstname" id="firstname" required></ion-input>
          </ion-item>
          <div *ngIf="Form['firstname'].touched && Form['firstname'].invalid" class="alert alert-danger">
            <div *ngIf="Form['firstname'].errors && Form['firstname'].errors['required']">Firstname is required.</div>
            <div *ngIf="Form['firstname'].errors && Form['firstname'].errors['firstname']">Please, enter valid firstname.</div>
          </div>
        </div>
  
        <div class="form-input">
          <ion-icon name="person-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">LAST NAME</ion-label>
            <ion-input type="text" formControlName="lastname" id="lastname" required></ion-input>
          </ion-item>
          <div *ngIf="Form['lastname'].touched && Form['lastname'].invalid" class="alert alert-danger">
            <div *ngIf="Form['lastname'].errors && Form['lastname'].errors['required']">lastname is required.</div>
            <div *ngIf="Form['lastname'].errors && Form['lastname'].errors['lastname']">Please, enter valid lastname.</div>
          </div>
        </div>
  
        <div class="form-input">
          <ion-icon name="call-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">CELL NUMBER</ion-label>
            <ion-input type="text" formControlName="cell_no" id="cell_no" required></ion-input>
          </ion-item>
          <div *ngIf="Form['cell_no'].touched && Form['cell_no'].invalid" class="alert alert-danger">
            <div *ngIf="Form['cell_no'].errors && Form['cell_no'].errors['required']">cellphone number is required.</div>
            <div *ngIf="Form['cell_no'].errors && Form['cell_no'].errors['cell_no']">Please, enter valid cellpohone number.</div>
          </div>
        </div>
  
        <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">EMAIL</ion-label>
            <ion-input type="email" formControlName="email" id="email" required></ion-input>
          </ion-item>
          <div *ngIf="Form['email'].touched && Form['email'].invalid" class="alert alert-danger">
            <div *ngIf="Form['email'].errors && Form['email'].errors['required']">email is required.</div>
            <div *ngIf="Form['email'].errors && Form['email'].errors['email']">Please, enter valid email address.</div>
          </div>
        </div>
      
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">PASSWORD</ion-label>
            <ion-input type="password" formControlName="password" id="password" required></ion-input>
          </ion-item>
          <div *ngIf="Form['password'].touched && Form['password'].invalid" class="alert alert-danger">
            <div *ngIf="Form['password'].errors && Form['password'].errors['required']">Password is required.</div>
            <div *ngIf="Form['password'].errors && Form['password'].errors['password']">Please, enter valid password.</div>
          </div>
        </div>
      </div>
      
      
      <div class="action-buttons ion-padding">
        <ion-button [disabled]="registerForm.invalid" size="large" class="login-button" type="submit">Sign up</ion-button>
      </div>
      
      </div>
    </form>
    
  <!-- </div> -->
</ion-content>
