<ion-content class="card-background-page">
  <ion-grid>
    <ion-row>
      <ion-searchbar [(ngModel)]="filterTerm"></ion-searchbar>

      <ion-col size="12" size-sm="4" *ngFor="let list of drlist | filter: filterTerm">
        <ion-card>
          <img src="{{list.picture}}" routerLink="/doctor-profile/{{list.id}}">
          <ion-card-content>
            <ion-card-title>{{list.dr_name}}</ion-card-title>
          </ion-card-content>
          <ion-text class="occupation">
            <ion-card-title class="job">{{list.occupation}}</ion-card-title>
            <ion-card-subtitle class="occupation">occupation</ion-card-subtitle>
          </ion-text>
          <ion-text class="xp">
            <ion-card-title>{{list.experience}} Years</ion-card-title>
            <ion-card-subtitle class="xp">Experience</ion-card-subtitle>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>