

// ion-card-content h3{
//     text-align: center;
// }

// img{
//     width: 300px;
//     height: 300px;

// }

// :root {
// 	--ion-background-color: #ffffff;
// }


  

  .doctorcard {
      height: relative;
      margin-top:81px;
      position: relative;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding-bottom: 20px;
    }
    
    .doctorname{
      margin: -15px;
      font-size: 1.8em;
      font-weight: bold;
      width: 100%;
      font-weight: bold;
      color: #222d3b;
      text-transform: uppercase;
      text-align: center;
      padding-left:25px;
     
    }
  
    .card-subtitle {
      font-size: 2.0em;
      font-weight: bold;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
      text-shadow: 2px 2px 4px #000000;
    }

    img{
        width: 362px;
        height: 362px;
    }
    ion-card
    {
       background-color:#63c3fe;
       color: white;
    }



.occupation{
  color: #222d3b;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 5px;

}
.xp{
  color: #222d3b;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 5px;


}

h5{
 text-transform: lowercase;
 color: #f3f3f3;
 text-align: left;
 padding-left:10px;
}

*{
 --background: #f3f3f3;
}
p{
  font-size: 1.4em;
}

.job{
  padding-bottom:5px;
}
ion-searchbar
{

  margin-top: 2rem;
  color: black;

  
}
