ion-card{
    margin: 2rem;
  
    ion-list{
        width:100%;
        // margin: auto;
        button{
            width: 45vh;
        }
    }
    
}

ion-card-content{
    text-align: start;
}

img{
    width: 50px;
    height: 50px;

}

:root {
	--ion-background-color: #ffffff;
}