ion-content{
    // --background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    // url("/assets/satyabrata-sm-u_kMWN-BWyU-unsplash.jpeg") no-repeat center center / cover;
    --background: #f3f3f3;
}

.Login-section{
    max-width: 500px;
    background: transparent;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-top-right-radius: 46px;
    border-top-left-radius:46px;


}
    .heading{
        margin-top: 10px;
        text-align: center;
        h1{
            font-size: 2rem;
            font-weight: bolder;
            color: #222d3b;
        }
        p{
            margin-top:10px ;
            font-size: 1rem;
            color: #222d3b;
        }

    }
    .Login-form{
        .form-input{
            position: relative;
            margin-bottom: 10px;
            ion-item::part(native) {
                padding-left: 0;
            background-color: transparent;
            border-bottom: solid #222d3b 1px;
            color: #222d3b;
            }

            ion-icon{
                position: absolute;
                top: 37px;
                z-index: 2;
                font-size: 1.2rem;
                left: 5px;
                color: #222d3b;
                
            }

            ion-label{
                position: absolute;
                margin-left: 35px;
                font-weight: bolder;
                font-size: 0.8rem;
                top: 3px;
            }

            ion-input{
                font-size: 0.9rem;
                --padding-start:36px;
                --padding-top:36px;
                color: #222d3b;

            }
        }
        
        
    }
    
    .action-buttons{
        text-align: center;
        .login-button{
        --border-color: #222d3b;
        width: 100%;
        font-weight: bold;
        background-color: transparent;
    }
}
    p{
        margin-top: 15px;
        font-size: 1rem;
        color: #ffff;
    }
    .log{
        border-color: solid #ffff;
        background-color: transparent;
       
        font-weight: bold;
        margin-top: 30px;
        width: 100%;
    }

    
    .selectuser{
        color: #ffff;

    }

    .errors{
        color: #222d3b;
    }

    .alert{
        color: rgb(238, 117, 117);
    }